## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [1]:
import pandas as pd

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [2]:
df_gasolina_2000 = pd.read_csv('analise-precos-gasolina/gasolina_2000+.csv')
df_gasolina_2010 = pd.read_csv('analise-precos-gasolina/gasolina_2010+.csv')
df_gasolina = (
    pd.concat([df_gasolina_2000, df_gasolina_2010], ignore_index=True)
    .rename(columns={'Unnamed: 0': 'ID'})
    .set_index('ID')
)

C:\Users\fernando.vilela\AppData\Local\Temp\ipykernel_17604\2350851758.py:2: DtypeWarning: Columns (0: MARGEM MÉDIA REVENDA, 1: PREÇO MÉDIO DISTRIBUIÇÃO, 2: DESVIO PADRÃO DISTRIBUIÇÃO, 3: PREÇO MÍNIMO DISTRIBUIÇÃO, 4: PREÇO MÁXIMO DISTRIBUIÇÃO, 5: COEF DE VARIAÇÃO DISTRIBUIÇÃO) have mixed types. Specify dtype option on import or set low_memory=False.
  df_gasolina_2010 = pd.read_csv('analise-precos-gasolina/gasolina_2010+.csv')

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [3]:
df_gasolina.head(2)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
ID,,,,,,,,,,,,,,,,,,
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115

In [4]:
df_gasolina.info()

<class 'pandas.DataFrame'>
Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  str
 1   DATA FINAL                     120823 non-null  str
 2   REGIÃO                         120823 non-null  str
 3   ESTADO                         120823 non-null  str
 4   PRODUTO                        120823 non-null  str
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  str
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(6), str(6)
memory usage: 17.5+ MB

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [5]:
df_gasolina['DATA INICIAL'].iloc[2]

'2004-05-09'

In [6]:
type(df_gasolina['DATA INICIAL'].iloc[2])

str

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [7]:
df_gasolina['DATA INICIAL'] = pd.to_datetime(df_gasolina['DATA INICIAL'])
df_gasolina['DATA FINAL'] = pd.to_datetime(df_gasolina['DATA FINAL'])

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [8]:
df_gasolina['DATA FINAL ANO E MES'] = df_gasolina['DATA FINAL'].dt.to_period('M')
df_gasolina[['DATA FINAL ANO E MES', 'DATA FINAL']]

       DATA FINAL ANO E MES DATA FINAL
ID
0                   2004-05 2004-05-15
1                   2004-05 2004-05-15
2                   2004-05 2004-05-15
3                   2004-05 2004-05-15
4                   2004-05 2004-05-15
...                     ...        ...
120818              2021-05 2021-05-01
120819              2021-05 2021-05-01
120820              2021-05 2021-05-01
120821              2021-05 2021-05-01
120822              2021-05 2021-05-01

[120823 rows x 2 columns]

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [9]:
df_gasolina.value_counts(['PRODUTO'])

PRODUTO
GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: count, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [10]:
df_gasolina_comum = df_gasolina[df_gasolina['PRODUTO'] == 'GASOLINA COMUM']
df_gasolina_comum

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,DATA FINAL ANO E MES
ID,,,,,,,,,,,,,,,,,,,
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,5.530,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,5.599,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,5.699,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,6.119,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [30]:
df_gasolina_comum.loc[df_gasolina_comum['DATA FINAL ANO E MES'] == '2008-08', 'PREÇO MÉDIO REVENDA'].mean()

np.float64(2.6012444444444442)

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [32]:
df_gasolina_comum.loc[df_gasolina_comum['DATA FINAL ANO E MES'] == '2014-05', ['PREÇO MÉDIO REVENDA']]

       PREÇO MÉDIO REVENDA
ID
66205                3.402
66206                2.977
66207                2.964
66208                3.104
66209                3.034
...                    ...
66835                3.074
66836                2.920
66837                2.876
66838                2.945
66839                3.117

[135 rows x 1 columns]

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [41]:
df_gasolina_comum.loc[
    df_gasolina_comum['PREÇO MÉDIO REVENDA'] >= 5,
    ['PREÇO MÉDIO REVENDA', 'DATA FINAL ANO E MES', 'ESTADO']
]

        PREÇO MÉDIO REVENDA DATA FINAL ANO E MES          ESTADO
ID
98201                 5.053              2018-05            ACRE
98347                 5.035              2018-06            ACRE
98365                 5.000              2018-06  RIO DE JANEIRO
98493                 5.038              2018-06            ACRE
98511                 5.016              2018-06  RIO DE JANEIRO
...                     ...                  ...             ...
120721                5.364              2021-05         RORAIMA
120722                5.051              2021-05  SANTA CATARINA
120723                5.265              2021-05       SAO PAULO
120724                5.586              2021-05         SERGIPE
120725                5.751              2021-05       TOCANTINS

[355 rows x 3 columns]

### 11. Qual a média de preço dos estados da região sul em 2012?

In [57]:
df_gasolina.loc[
    (df_gasolina['DATA FINAL ANO E MES'].dt.year == 2012) &
    (df_gasolina['REGIÃO'] == 'SUL'),
    ['REGIÃO', 'ESTADO', 'PREÇO MÉDIO REVENDA', 'DATA FINAL ANO E MES']
]

      REGIÃO             ESTADO  PREÇO MÉDIO REVENDA DATA FINAL ANO E MES
ID
10684    SUL             PARANA                2.046              2012-01
10685    SUL  RIO GRANDE DO SUL                2.414              2012-01
10686    SUL     SANTA CATARINA                2.423              2012-01
10711    SUL             PARANA                2.034              2012-01
10712    SUL  RIO GRANDE DO SUL                2.408              2012-01
...      ...                ...                  ...                  ...
55586    SUL  RIO GRANDE DO SUL                2.190              2012-12
55587    SUL     SANTA CATARINA                2.168              2012-12
55612    SUL             PARANA                2.091              2012-12
55613    SUL  RIO GRANDE DO SUL                2.186              2012-12
55614    SUL     SANTA CATARINA                2.170              2012-12

[780 rows x 4 columns]

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [68]:
#df_gasolina_rj = df_gasolina.loc[df_gasolina['ESTADO'] == 'RIO DE JANEIRO']
#df_gasolina_rj.groupby(df_gasolina_rj['DATA FINAL ANO E MES'].dt.year)['PREÇO MÉDIO REVENDA'].mean()

df_gasolina.loc[df_gasolina['ESTADO'] == 'RIO DE JANEIRO'] \
    .groupby(df_gasolina.loc[df_gasolina['ESTADO'] == 'RIO DE JANEIRO', 'DATA FINAL ANO E MES'].dt.year)['PREÇO MÉDIO REVENDA'] \
    .mean()

DATA FINAL ANO E MES
2004     7.062455
2005     7.204067
2006     7.690235
2007     7.830504
2008     7.899415
2009     8.357196
2010     9.192981
2011     9.261808
2012     9.334412
2013     8.479423
2014     9.103465
2015     9.979578
2016    10.994858
2017    12.094622
2018    13.525407
2019    13.905997
2020    13.423551
2021    14.126444
Name: PREÇO MÉDIO REVENDA, dtype: float64

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.